.charts{
    max-width: 100%;
    display: flex;
}
.chart{
    flex: 1;
    border: 0.125rem solid rgba(74, 74, 74, 0.37);
    margin: 0.625rem 0.625rem;
    border-radius: 0.625rem;
    cursor: pointer;
}
.chartt{
    margin: 0rem 0.625rem;
    text-align: center;
}
.top{
    margin: 0.625rem 0rem;
    text-align: center;
}
.data_c{
    margin-right: 2.5rem;
    font-size: 1.875rem;
}
.title_c{
    font-size: 1.25rem;
}
.chart:hover{
    background-color: rgb(243, 240, 240);
}
@media (max-width: 46.875rem){
    .charts{
        display: block;
        width: fit-content;
    }
    .data_c{
        margin-left: 0.625rem;
        font-size: 1.25rem;
    }
    .title_c{
        margin-right: 0.625rem;
    }
}