.charts{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.chart{
    flex: 1;
    border: 2px solid rgba(74, 74, 74, 0.37);
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.top{
    text-align: left;
    margin: 10px;
}
.data_c{
    margin: 10px 10px;
    font-size: 30px;
}
.title_c{
    margin: 10px 10px;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 15px;
>>>>>>> 99fef0fff384e8a07f8308ca856cb7161e038cba
    text-align: right;
}