.charts{
    max-width: 100%;
    display: flex;
}
.chart{
    flex: 1;
    border: 2px solid rgba(74, 74, 74, 0.37);
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.chartt{
    margin: 0px 10px;
    text-align: center;
}
.top{
    margin: 10px 0px;
    text-align: center;
}
.data_c{
    margin-right: 20px;
    font-size: 30px;
}
.title_c{
    font-size: 15px;
}
.chart:hover{
    background-color: rgb(243, 240, 240);
}