.featured{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    border: 1px solid rgba(74, 74, 74, 0.37);
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    justify-content: space-between;
}
.featuredTitle{
    font-size: 15px;
    margin: 10px;
}
.featuredMoney{
    font-size: 30px;
    margin: 10px;
}
.featuredItem:hover{
    background-color: rgb(243, 240, 240);
}