.featured{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    border: 2px solid rgba(100, 100, 100, 0.37);
    height: 90px;
    margin: 15px;
    margin-top: 20px;
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.featuredTitle{
    font-size: 25px;
    margin: 10px;
}
.featuredMoney{
    font-size: 50px;
    margin: 10px;
    margin-top: 30px;
    position: relative;
    display: inline-block;
}