.featured{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    border: 1px solid rgba(74, 74, 74, 0.37);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    justify-content: space-between;
    height: 55px;
}
.featuredTitle{
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
    position: absolute;
}
.featuredMoney{
    font-size: 40px;
    margin: 10px;
    margin-left: -70px;
    position: absolute;
}
.featuredItem:hover{
    background-color: rgb(243, 240, 240);
}