.transTable{
    flex: 3;
    border: 2px solid rgba(74, 74, 74, 0.37);
    border-radius: 10px;
    margin: 10px 10px;
    cursor: pointer;
    height: 700px;
}
.icon{
    display: flex;
    align-items: center;
}
.approved{
    color: green;
}
.rejected{
    color: red;
}
.pending_docs{
    color: orange;
}
@media (max-width: 750px){
    .table{
        display: none;
    }
}