.container {
    display: flex;
    width: 100%;
  }
.home{
    flex: 5;
}
.homeWidgets{
    display: flex;
}
.drop{
    margin: 10px 10px;
    margin-left: 15px;
}
.filter{
    border: 0.5px solid #0d47a1;
    border-radius: 5px;
}