.noMatch{
    width: 100%;
    height: 100%;
    background-color: rgb(250, 226, 226);
    color: red;
    position: absolute;
    display: flex;
    text-align: center;
}
.wrapper{
    margin: auto;
}
.error{
    font-size: 40px;
    font-weight: bold;
    margin: auto;
}
.errorD{
    font-size: 25px;
    margin: auto;
}