.sidebar{
    background-color: #0d47a1;
    max-width: 70px;
    max-height: 100%;
    display: block;
    padding: 4px 4px;
    text-align: center;
    align-content: center;
}
.icon{
    font-size: 10px;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}
.icon.t{
    padding-top: 100%;
    margin-top: 75px;
}
.icon.b{
    padding-bottom: 100%;
    margin-bottom: 500px;
}
span{
    margin: 0px -15px;
}
.sticky{
    position: sticky;
    flex-grow: 1;
}