.text{
  color: skyblue;
  font-weight: bold;
  border : 2px groove skyblue;
  border-radius: 5px;
 
}
.ui .search .dropdown{
  color: black;
}
.ui .selection .dropdown .visible .active{
  color: aqua;
}
.field {
  color: aquamarine;
}