.table{
    flex: 3;
    border: 2px solid rgba(74, 74, 74, 0.37);
    margin: 10px 10px;
    cursor: pointer;
}
.status{
    margin: 10px;
}
.logo{
    margin: 10px;
}
.Approved{
    color: green;
}
.Declined{
    color: red;
}